# dependencies
node_modules/

# builds
build/
dist/
.next/

# env
.env
.env.local

# editor / OS
.DS_Store
.vscode/

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map